<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-bbI0dGexDVAT1NpAepwM-KcHsB7cPKs</string>
	<key>GCM_SENDER_ID</key>
	<string>341517270321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.absensi</string>
	<key>PROJECT_ID</key>
	<string>absensi-c971a</string>
	<key>STORAGE_BUCKET</key>
	<string>absensi-c971a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:341517270321:ios:1ebc5c2abe30397dd60410</string>
	<key>DATABASE_URL</key>
	<string>https://absensi-c971a-default-rtdb.firebaseio.com</string>
</dict>
</plist>